.summary {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  max-width: 70rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin-top: 0;
  position: relative;
}

.summary h2::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 3%;
  background: #8a2b06;
  bottom: 30%;
  left: 30%;
}

.commentary {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  text-align: justify;
  align-self: center;
  text-align: center;
}

.keyPoints {
  font-weight: bold;
}
.underlined {
  text-decoration: underline;
}
