.button {
  cursor: pointer;
  font: inherit;
  font-family: 'Lato', sans-serif;
  border: none;
  background-color: #4d1601;
  color: white;
  width: 17.5%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #3f1503;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 318px) {
  .button {
    width: calc(40% + 2.2vw);
  }
  .badge {
    margin-inline: 1rem;
  }
}

@media only screen and (min-width: 319px) {
  .button {
    width: calc(40% + 1.75vw);
  }
  .badge {
    margin-inline: 1rem;
  }
}
